<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
  </head>
  <body style="background-color: black; color: #fff">
    <h1>Newsletter</h1>
    <h2>Receba as melhores noticias de tecnologia</h2>
    <form action="/register" method="POST">
      <label for="email">Digite seu melhor email:</label>
      <input type="email" name="email" id="email" />

      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
